<!DOCTYPE html>
<html>
<head>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">  
     <link rel="stylesheet" type="text/css" href="static/css/style.css">
     <link rel="shortcut icon" href="your_image_path_and_name.ico" />
    <title>Информация о посылке</title>
   
</head>
<header>
        <ul id="menu">
             <li><a href="{% url 'index' %}">Главная</a></li>
             <li><a href="{% url 'main' %}">Авторизация</a></li>
             <li><a href="{% url 'portf' %}">Портфолио</a></li>
             <li><a href="{% url  'about' %}">Об авторе</a></li>
        </ul>
</header>


<body class="container">
       
    <table id="miyazaki">
         <caption>Информация о заказах</caption>
        <tr><th>Наименование посылки</th><th>Трэк</th><th>Цена</th><th>Место нахождение </th></tr>
        {% for package in mail %}
        <tr><td>{{ package.name }}</td><td>{{ package.track }}</td><td>{{ package.number }}</td><td>{{ package.point }}</td></tr>
        {% endfor %}
    </table>
  
</body>
</html>